*.iex
*.crf
*.d
*.o
*.axf
*.htm
*.hex
*.lnp
*.dep
*.scvd
*.map
*.lst
*.ricardomartinez
Source/MCU/RTE/_Debug/RTE_Components.h
*.bak
*.orig

/Source/MCU/MainModule/MM_ApplicationData.h
/Source/MCU/MainModule/MM_ApplicationData.c
Debug
.vs
Listings
/Source/MCU/Application/DebugConfig
RTE_Components.h
Release
DebugConfig
/Source/PC/python/Cygnus_GUI/build
/Source/PC/python/Cygnus_GUI/dist
/Source/PC/python/Cygnus_GUI/logs
/Source/PC/python/Cygnus_GUI/.idea
/Source/PC/python/Cygnus_GUI/__pycache__
